<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}{% endblock %}
    </title>
</head>
<body>
<style>
    ul{
        list-style-type:none;
        margin:0;
        padding:0;
    }
    li
    {
        display:inline;
        margin: 5px;
    }
</style>
<div style="text-align: center">
<ul>
<li><a href="/">首页</a></li>
    >>
<li><a href="/review/index">review</a></li>
<li><a href="/review/up">上传</a></li>
<li><a href="/review/music_1/_random_/0">音乐</a></li>
</ul>
<br>
    {% block body %}{% endblock %}
</div>
</body>
</html>